/* The Base rules */
* {
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(136,203,171);
    --bg-gradient: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
}

body {
    background: var(--bg-color);
    background: var(--bg-gradient);
    /* border: 1px solid red; */
    margin: 0;
    font-family: 'Merriweather', serif;
    /* color: #eee; */
}


/* General Typography */
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #ddd;
}

p {
    line-height: 1.2em;
    color: #eee;
}

/* ---------- Start Header / side navbar left ---------- */
.navbar__menu {
    background: var(--bg-gradient);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    z-index: 20;
}

.logo {
    font-size: 3rem;
    cursor: pointer;
    /* border: 1px solid white; */
}

.firstletter {
    position: absolute;
    left: 38px;
    transform: rotate(25deg);
    /* color: #cc1; */
    color: #FFC107;
    font-weight: bold;
    margin-top: 15px;
}

.secondletter {
    position: absolute;
    left: 35px;
    top: -1px;
    transform: rotate(25deg);
    /* color: #FFC107; */
    color: #EF6C00;
    font-weight: bold;
    margin-top: 15px;
}

#bar {
    display: none;
}

.navbar__menu ul {
    padding-left: 0;
    margin: 20;
    position: relative;
    top: 40vh;
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    padding-bottom: 0;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
    border-bottom: 3px solid #FFC107;
}

.navbar__menu .menu__link:hover {
    background: rgba(189, 202, 147, 0.6);
    color: #eee;
    transition: ease 3s all;
}

.navbar-toggler {
    display: none;
}

#myemail {
    color: #eee;
    position: fixed;
    right: -70px;
    top: 420px;
    transform: rotate(90deg);
}

#myemailext {
    color: #eee;
    position: fixed;
    right: -127px !important;
    bottom: 65px;
    transform: rotate(90deg);
}

@media only screen and (max-width: 480px){
    .navbar__menu {
        position: fixed;
        width: 100%;
        height: 80px;
        z-index: 20;
        align-items: stretch;
        flex-direction: row;
    } 
    
    .logo {
        flex: 1;
        /* border: 2px solid yellow; */
    }

    .navbar__menu .cont{
        flex: 5;
        /* border: 4px solid yellow; */
    }

    .cont {
        display: flex;
        flex-direction: column;
        place-items: start start;
        position: absolute;
        right: 0;
        /* border: 3px solid yellow; */
    }

    #bar {
        margin-left: 20px;
        margin-top: 15px;
        display: block;
        padding-left: 12px;
        width: 100px;
        align-self: center;
    }

    #bar a{
        /* border: 3px solid #EF6C00; */
        width: 70px;
    }

    #bar a {
        color: #EF6C00;
        /* border: 3px solid #fff; */
        /* margin: 0; */
    }

    #navbar__list {
        top: 0;
    }

    .navbar__menu .menu__link {
        border-bottom: 0px solid #EF6C00;
        padding-bottom: 5px;
        margin-bottom: 20px;
        background-color: #EF6C00;
    }

    .cont.responsive #navbar__list {
        display: none;
    }

    #myemail {
        /* color: red !important; */
        /* position: fixed; */
        /* right: 0px !important; */
        /* top: 200px ; */
        /* bottom: -40px; */
        /* transform: rotate(90deg); */
        /* border: 1px solid red; */
    }
    
    #myemailext {
        color: #eee;
        /* position: fixed; */
        /* right: -127px; */
        /* bottom: 128px !important; */
        /* transform: rotate(90deg); */
    }
    
}

@media only screen and (max-width: 768px){
    .navbar__menu {
        position: fixed;
        width: 100%;
        height: 80px;
        z-index: 20;
        align-items: stretch;
        flex-direction: row;
    } 
    
    .logo {
        flex: 1;
        /* border: 2px solid yellow; */
    }

    .navbar__menu .cont{
        flex: 5;
        /* border: 4px solid yellow; */
    }

    .cont {
        display: flex;
        flex-direction: column;
        place-items: start start;
        position: absolute;
        right: 0;
        /* border: 3px solid yellow; */
    }

    #bar {
        margin-left: 20px;
        margin-top: 15px;
        display: block;
        padding-left: 12px;
        width: 100px;
        align-self: center;
    }

    #bar a{
        /* border: 3px solid #EF6C00; */
        width: 70px;
    }

    #bar a {
        color: #EF6C00;
        /* border: 3px solid #fff; */
        /* margin: 0; */
    }

    #navbar__list {
        top: 0;
    }

    .navbar__menu .menu__link {
        border-bottom: 0px solid #EF6C00;
        padding-bottom: 5px;
        margin-bottom: 20px;
        background-color: #EF6C00;
    }

    .cont.responsive #navbar__list {
        display: none;
    }

    #myemail {
        color: #eee;
        position: fixed;
        right: -70px;
        top: 370px;
        /* bottom: 50px; */
        transform: rotate(90deg);
    }
    
    #myemailext {
        color: #eee;
        position: fixed;
        right: -127px;
        bottom: 110px;
        transform: rotate(90deg);
    }
}


/* ---------- End side navbar left ---------- */
/* ---------- Start main section ---------- */
main {
    margin: 0vh 0em 10vh 6.8em;
    /* border: 1px solid greenyellow; */
}

section {
    position: relative;
    min-height: 80vh;
}

/* Landing Container Styles */
.landing__container {
    padding: 4em;
    text-align: left;
    /* border: 1px solid red; */
    max-width: 50em;


    /* border: 1px solid red; */
}

/* ------- Home ------- */
.home {
    /* border: 1px solid red; */
    padding-top: 200px;
}

.first_letter {
    position: relative;
    /* left: 128px; */
    color: #FFC107;
    opacity: 0.8;
    font-weight: bold;
}

.second_letter {
    position: relative;
    left: -30px;
    color: #EF6C00;
    font-weight: bold;
    /* color: #cc1; */
}

#other_letter {
    position: relative;
    left: -30px;
}

#other_lettertext {
    position: relative;
    left: -30px;
}

#author-text {
    font-size: 2em;
}

.landing__container button {
    padding: 1.2em;
    background: transparent;
    outline: 0;
    border: 2px solid #FFC107;
    border-radius: 5px;
    font-weight: bold;
}

.landing__container a {
    color: #eee;
    text-decoration: none;
    font-size: 1.3em;
}

.landing__container span {
    margin-top: 0px;
    /* border: 1px solid red; */
}

/* Mobile devices (smartphones) */
@media only screen and (max-width: 480px){
    main {
        /* margin: 0vh 0em 10vh 6.8em; */
        /* margin-top: 700px; */
        /* margin: 0; */
        /* border: 3px solid yellow; */
    }

    .home {
        /* padding-top: 60px; */
        padding: 200px 0 0 35px;
        /* border: 3px solid yellow; */
    }

    .home > h2 {
        font-size: 2.7rem;
        padding: 0;
        margin: 0;
        /* border: 1px solid red; */
        border-bottom: 1px solid #EF6C00;
        width: fit-content;
    }
    
    .first_letter {
        position: relative;
        color: #FFC107;
        opacity: 0.8;
        font-weight: bold;
    }

    .second_letter {
        position: relative;
        left: -30px;
        color: #EF6C00;
        font-weight: bold;
    }

    .other_letter {
        position: relative;
        left: -30px;
        /* border: 1px solid red; */
    }

    #other_lettertext {
        position: relative;
        left: -30px;
        white-space: pre;
    }

    @media only screen and (max-width: 474px){
        #other_lettertext {
            position: relative;
            left: 0px;
            white-space: pre;
        }
    }

}



/* Small screen, tablets, Ipads portrait mode */
/* Ipads, Tablets */
@media only screen and (max-width: 768px){
    main {
        margin: 0;
        /* border: 3px solid yellow; */
    }

    .home {
        /* padding-top: 60px; */
        padding: 200px 0 0 35px;
        /* border: 3px solid yellow; */
        /* position: relative; */
    }

    .home > h2 {
        font-size: 2.7rem;
        padding: 0;
        margin: 0;
        /* border: 1px solid red; */
        border-bottom: 1px solid #EF6C00;
        width: fit-content;
        line-height: 1.4;
    }

    #author-text {
        font-size: 1rem;
        line-height: 1.8;
    }

}


/* -------- about ------- */
.about span {
    color: #FFC107;
}

#about {
    display: flex;
    /* border: 3px solid red; */
    margin-left: 26px;
    width: 100%;
}

#aboutDev {
    text-align: center;
    position: relative;
    /* border: 1px solid blue; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    place-items: center center;
}

#aboutDev img {
    height: 300px;
    width: 250px;
    border: 1px solid #ffc107;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transform: translateY(130px);
    transition: 1.5s ease;
}

#aboutDev p {
    background-color: #FFC107;
    position: relative;
    border: 1px solid red;
    width: 280px;
    height: 330px;
    border-radius: 50%;
    transform: translateY(-203px);
    transition: 2s;
    opacity: 0.5;
    z-index: 2;
    box-shadow: 0 20px 50px rgba(4, 37, 18, 0.8);
}

#aboutDev:hover p {
    transition: 3s ease;
    opacity: 0;
}

.about {
    flex: 4;
    /* border: 2px solid yellow; */
}

/* Mobile devices (smartphones) || Ipads, Tablets*/
@media only screen and (max-width: 480px), (max-width: 768px){
   
    #about {
        flex-direction: column;
        margin-left: 0px;
        width: 100%;
    }

    #aboutDev {
        position: relative;
        margin-top: 80px;
    }
    
    #aboutDev img {
        height: 200px;
        width: 200px;
        border: 1px solid #ffc107;
        z-index: -1;
        /* transform: translateY(130px); */
        transition: 1.5s ease;
    }

    #aboutDev p {
        width: 220px;
        height: 220px;
        transform: translateY(-96px);
    }

    #aboutDev:hover p {
        transition: 3s ease;
        opacity: 0.1;
    }

    .about {
        margin-top: -90px;
        z-index: 2;
        /* border: 1px solid red; */
        padding: 0 40px 0 20px;
    }

    .about > h2 {
        text-align: center;
        line-height: 1.5;
    }
}

/* --------------------- skill -------------------- */

#skill {
    /* border: 2px solid yellow; */
}

.skillset__wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skillset {
    color: #ddd;
    border: 2px solid #FFC107;
    border-radius: 5px;
    padding: 5px 10px;
    height: fit-content;
    width: fit-content;
    margin: 0;
}

.skill__quote {
    color: #ddd; 
    font-size: 0.7rem; 
    text-align: center; 
    font-style: italic;
    margin-top: 30px;
}

/* Mobile devices (smartphones) */
@media only screen and (max-width: 480px){
    .skill {
        padding: 0 40px 0 20px;
        margin-top: 120px;
    }
}

/* Ipads, Tablets */
@media only screen and (max-width: 768px){
    .skill {
        padding: 0 40px 0 20px;
        margin-top: 120px;
    }
}

/* ----------------- Projects --------------- */

.project__dir {
    /* border: 1px solid #FFC107; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 20px;
    place-content: center center;
}

#practice {
    background-color: rgba(9, 70, 34, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* height: 120px; */
    /* z-index: 3; */
}

.project__container {
    /* border: 2px solid red; */
    cursor: pointer;
    background-color: transparent;
    height: fit-content;
    position: relative;
    z-index: 2;
}

.project__cardtop {
    width: 100%;
    height: fit-content;
    border-top: 4px solid rgba(9, 70, 34, 0.8);
}

.project__cardtop > img {
    width: 100%;
    height: 180px;
    /* border: 5px solid red; */
}

.pcard1 {
    position: relative;
    z-index: 1;
    transform: translateY(100px);
    transition: 0.5s;
}

.pcard2 {
    position: relative;
    transform: translateY(-100px);
    transition: 0.5s;
    opacity: 0;
    box-shadow: 0 20px 50px rgba(4, 37, 18, 0.8);
}

.project__container:hover .pcard1 {
    transform: translateY(0);
    opacity: 1;   
}

.project__container:hover .pcard2 {
    transform: translateY(0);
    opacity: 1;
}

.project__container:hover .project__cardtop {
    border-top: 3px solid #EF6C00;
}

.project__container:hover #project-title {
    background-color: #EF6C00;
}

.project__container:hover #practice {
    opacity: 0;
}

#project-title {
    font-size: 1.5rem;
    /* border: 1px solid red; */
    margin: 0;
    text-align: center;
    background-color: rgba(4, 37, 18, 0.8);
    padding: 5px 0;
    font-weight: bold;
}

.project__cardbottom {
    background: #ddd;
    padding: 1px 20px;
}

#project-description {
    font-size: 0.6rem;
    line-height: 2.2;
    font-weight: bold;
    letter-spacing: 1.2;
    color: #000;
    margin-bottom: 20px;
}

.project__cardbottom .skillset {
    color: #000 !important;
    font-size: 0.5rem !important;
    border: 2px solid #EF6C00;
}

.project__view {
    margin: 20px 0 5px 0;
}

button[type="submit"]{
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #EF6C00;
    background-color: #EF6C00;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"]:nth-child(1){
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #000;
    color: #EF6C00;
    border: 1px solid #000;
}

/* Mobile devices (smartphones) */
@media only screen and (max-width: 480px){
    
    #project {
        /* border: 2px solid red; */
        padding-left: 20px;
    }

    .project {
        margin-top: 100px;
        margin-bottom: 30px;

    }
}

/* Ipads, Tablets */
@media only screen and (max-width: 768px) {
    #project {
        /* border: 2px solid red; */
        padding-left: 20px;
    }

    .project {
        margin-top: 100px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 769px){
    #project {
        /* border: 2px solid red; */
        margin-left: 1.8em;
    }
    
    .project {
        /* border: 3px solid blue; */
        padding: 0 40px 0 20px;
    
    }
}


/* ---------------- Contact ---------------- */
#contact {
    /* border: 1px solid blue; */
    margin-top: 3.2rem;
}

#contact > div {
    margin: auto; 
    width: 70%;
    /* border: 1px solid red; */
    display: flex;
    gap: 80px;
}

#contact form {
    padding: 0px 10px 0px 10px;
    flex: 3;
    /* border: 1px solid blue; */
    margin-bottom: 5px;
    box-shadow: 1px 1px 50px  rgba(4, 37, 18, 0.8);
}

#contact form > h2 {
    padding-bottom: 20px; 
    color: rgba(255, 255, 255, 0.7); 
    text-align: center; 
    text-shadow: 1px 1px rgba(255,255,255,0.4);
}

.inputbox {
    width: 100%; 
    height: 110px; 
    border-radius: 5px; 
    background-color: rgba(242,242,242,0.4); 
    border: 0; 
    outline: 0;
    padding: 10px 50px 50px 50px; 
    text-align: center; 
    color: blueviolet;
    margin-bottom: 20px;
}

.inputbox::placeholder {
    color: black;
    white-space: normal;
    font-weight: bold;
    opacity: 0.7;
}

#user__enquiry {
    display: flex;
    /* border: 1px solid red; */
    margin-bottom: 10px;
}

#user__enquiry input::placeholder, #user__enquiry textarea::placeholder {
    /* color: red; */
    font-weight: bold;
    font-size: 1rem;
}

.user__info {
    flex: 1; 
    height: 100%; 
    /* border: 1px solid red; */
    height: 120px;
    box-sizing: border-box;
}


#user__message {
    /* border: 1px solid red; */
    height: 120px;
    box-sizing: border-box;
}

#user__message > textarea {
    width: 100%; 
    float: right;
    background-color: rgba(255,255,255,0.4); 
    border: 0; 
    border-radius: 3px; 
    padding: 5px 10px; 
    margin-bottom: 20px; 
    outline: 0;
    height: 100%;
    /* border: 1px solid blue; */
    font-weight: bold;
}

.user__info > input {
    width: 97%;
    height: 33px;
    background-color: rgba(242,242,242,0.4); 
    border: 0; 
    border-radius: 3px; 
    padding: 6px 10px; 
    outline: 0;
    font-weight: bold;
}

.user__info > input:not(:last-child){
    margin-bottom: 10px;
}

.submission {
    display: flex;
}
.submission button {
    width: 100%;
    padding: 10px 30px; 
    background: rgba(4, 37, 18, 0.8);
    color: #ddd; 
    border: 1px solid rgba(4, 37, 18, 0.8); 
    border-radius: 10px; 
    outline: 0;
    margin-bottom: 5px;
}
#submission_button:hover {
    background: rgba(4, 37, 18, 0.8);
    opacity: 0.8;
    color: #ddd;
}

#map {
    /* width: 150px; */
    /* border: 1px solid red; */
    flex: 2;
}

iframe {
    width: 100%;
    /* border: 1px solid red; */
    height: 100%;

}

/* Mobile devices (smartphones) */
@media only screen and (max-width: 480px){
    
    #contact {
        /* border: 2px solid yellow; */
    }

    #contact > div {
        width: 90%;
    }
    
    #contact > div {
        margin-bottom: 30px;
        /* border: 1px solid red; */
        flex-direction: column;
    }

    #contact form {
        margin-top: 100px;
    }

    iframe {
        height: 500px;
        z-index: -1;
    }
}

/* Ipads, Tablets */
@media only screen and (max-width: 768px), (max-width: 900px) {
    
    #contact {
        /* border: 2px solid yellow; */
    }

    #contact > div {
        width: 80%;
    }
    
    #contact > div {
        margin-bottom: 30px;
        /* border: 1px solid red; */
        flex-direction: column;
    }

    #contact form {
        margin-top: 100px;
    }

    iframe {
        height: 500px;
        z-index: -1;
    }
}

/* -------------------------------- End main ------------------------------- */



/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: 'kjjjjj';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
    border: 1px solid red;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

.activenow-class {
    background: rgba(189, 202, 147, 0.6);
}


/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-2em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}




/* Start Footer Styles */
.page__footer {
    color: #eee;
    /* border: 1px solid blue; */
    margin: 0vh 0em 0vh 8.5em;
    text-align: center;
    padding: 20px 0px;

}

.page__footer p {
    color: #eee;
    text-align: center;
    /* border: 1px solid red; */
}

/* Mobile devices (smartphones) */
@media only screen and (max-width: 480px), (max-width: 768px){
    .page__footer {
        margin: 0vh 0em 0vh 0em;
    }

    .page__footer p {
        font-size: 0.8rem;
    }
}
/* --------- End Footer Styles --------- */